* {
  -webkit-font-smoothing: antialiased;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
  margin-bottom: 60px;
}

.myText { 
	font-family: "Arial", Helvetica, sans-serif;
	font-size : 20px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.image{
  display: block;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .myText {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .myText {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .myText {
    width: 1170px;
  }
}

.quote_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 50%;
  min-width: 300px;
  margin: 20px;
  margin-left: 25%;
  background: #fafafa;
  border: 1px solid #eee;
  padding: 30px 30px 30px 30px;
}

.quote::before{
  content: '\201C'; 
}

.quote { 
  color: #0093c2;
  font-family: 'Georgia',serif;
  font-size: 72px;
  font-weight: 700;
  font-style: normal;
  line-height: 72px;
  left: 0;
  text-align: center;
  top: 23px;
  max-width: 20%;
  min-width: 5%;
}

.quote_text{
  max-width: 80%;
  margin: 10px;
  font-style: italic;
  font-family: inherit;
  font-size: 129%;
}

.bookImageInline{
  margin-left: auto;
  margin-right: auto;
  width: 32%;
  height: 475px;
}

.bookImage{
  width: auto;
  height: 100%;
}

footer{ width: 100%; background: #000000; bottom: 0; height: 50px}


.books_wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book_wrapper {
  max-width: 30%;
  min-width: 200px;
  margin: 20px;
}

.book_image {
  width: 100%;
  margin-bottom: 15px;
}

.book_category {
  color: #0093c2;
  font-size: 14px;
  font-weight: 900;
  margin-bottom: 9px;
  letter-spacing: 1px;
  line-height: 120%;
  text-transform: uppercase;
}

.book_name {
  font-family: 'Merriweather',Georgia,serif;
  font-size: 26px;
  font-weight: 900;
  line-height: 1.25em;
  letter-spacing: -1px;
  -ms-word-break: break-word;
  word-break: break-word;
  color: #111;
}

.book_date {
  color: #888;
  font-size: .9em;
  font-weight: 700;
  margin-top: 6px;
  line-height: 120%;
  font-size: 15px;
  font-family: "Arial", Helvetica, sans-serif;
}

.book_name a {
  color: #111;
}


.initialTDS{
  text-align:center; 
  vertical-align:middle;
}


.footStuff {
  margin-top: auto;
  position: absolute;
  bottom: 0;
  width: 100%;
  // Set the fixed height of the footer here 
  height: 45px;
  line-height: 22px; // Vertically center the text there 
  background-color: #222;
  border-color: #080808;
}

.footer_text{
  font-weight: 900;
  font-size: 115%;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #9d9d9d;
  margin-top: 1.4%;
  margin-left: 3%;
}

