{% extends "master.html" %}

{% block title %} {{BookName}} {%endblock%}

{% block ArticleHeader %}

{% endblock %}

{% block PlainText %}

<p class="myText">{{bookIntro}}</p>

<p></p><p></p>

<div class="quote_wrapper">

	<div class="quote">  </div>

	<div class="quote_text">
		<p>{{FirstQuote}}</p>
		<p>{{FirstQuoteAuthorName}}</p>
	</div>

</div>

<p></p><p></p>

<p class="myText">{{QuestionsAskedToTheReader}}</p>

<p></p><p></p>

<p class="myText">{{introToContent}}</p>

<p></p><p></p>

<div class="bookImageInline">
	<img class="bookImage" src="{{url_for('static', filename=bookImage)}}">
</div>

<p></p><p></p>

<p class="myText">{{questionContent}}</p>

<p></p><p></p>

<div class="quote_wrapper">

	<div class="quote">  </div>

	<div class="quote_text">
		<p>{{SecondQuote}}</p>
		<p>{{SecondQuoteAuthorName}}</p>
	</div>

</div>

<p></p><p></p>

<p class="myText">{{CloseBook}}</p>

<p></p><p></p>

<p class="myText">{{CallToAction}}</p>

<p></p><p></p>

<p></p><p></p>

<h3 style="font-weight: bold;" class="myText">About the author:</h3>

<p class="myText">{{AuthorDescription}}</p>

<p></p><p></p>

<h3 style="font-weight: bold;" class="myText">Where you can get this book:</h3>

<p class="myText">{{whereToBuy}}</p>

<p></p><p></p>

{% endblock %}