{% extends "master.html" %}

{% block title %}Rich Dad Poor Dad{%endblock%}

{% block ArticleHeader %}

{% endblock %}

{% block PlainText %}

<p class="myText">{% block bookintro%}{% endblock %}</p>

<p></p><p></p>

<div class="quote_wrapper">

	<div class="quote"> " </div>

	<div class="quote_text">
		<p>{% block firstQuote%}{% endblock %}</p>
		<p>{% block firstAuthorName%}{% endblock %}</p>
	</div>

</div>

<p></p><p></p>

<p class="myText">{% block questionsAskedToReader%}{% endblock %}</p>

<p></p><p></p>

<p class="myText">{% block introToContent%}{% endblock %}</p>

<p></p><p></p>

<div id="bookImageInline">
	{% block midBookImage %}

	{%endblock%}
</div>

<p></p><p></p>

<p class="myText">{% block questionContent%}{% endblock %}</p>

<p></p><p></p>

<table >
	<tr>
		<td style="vertical-align: top;">
			<img class="quoteImage" src="{{url_for('static', filename='quote.jpg')}}">
		</td>
		<td>
			<p>{% block secondQuote%}{% endblock %}</p>
			<p>{% block secondAuthorName%}{% endblock %}</p>
		</td>
	</tr>

</table>

<p></p><p></p>

<p class="myText">{% block closeBook%}{% endblock %}</p>

<p></p><p></p>

<p class="myText">{% block callToAction%}{% endblock %}</p>

<p></p><p></p>

<p></p><p></p>

<h3 style="font-weight: bold;" class="myText">About the author:</h3>

<p class="myText">{% block aboutAuthor %}{% endblock %}</p>

<p></p><p></p>

<h3 style="font-weight: bold;" class="myText">Where you can get this book:</h3>

<p class="myText">{% block getBook %}{% endblock %}</p>

<p></p><p></p>

{% endblock %}