{% extends "BookBase.html" %}

{% block ArticleHeader %}

<h1>Rich Dad Poor Dad</h1>

{% endblock %}


{% block topBookImage %}
	{% if bookImage %}
		<img class="bookImage" style="width: 25%; height: 25%;" src="{{url_for('static', filename=bookImage)}}">
	{% else %}
		<p>No image from the book found. Please be awesome and notify me through instagram <a href="https://www.instagram.com/bernardogooomes/">(instagram link)</a></p>
	{% endif %}
{%endblock%}

{% block bookintro%}

Hello everyone! It’s February post time! The book I’ll be reviewing this month is called “Rich Dad Poor Dad”, written by Robert T. Kiyosaki. It was self-published in 1997 and after being picked up commercially, it became a New York Times bestseller.

{% endblock %}

{% block firstQuote%}

“In school we learn that mistakes are bad, and we are punished for making them. Yet, if you look at the way humans are designed to learn, we learn by making mistakes. We learn to walk by falling down. If we never fell down, we would never walk.”

{% endblock %}

{% block questionsAskedToReader%}

Are you tired of following supposed experts in investments and ending up losing all your money? You want to be financially secure but you don’t know how to invest, simply don’t know how the investments work, or you already thought about investing to save extra money, but all you always heard the news talking about is crashes, bad advices and bankrupt. Also, it is very common to heard about get rich quick schemes that all they do is getting people money, right?

{% endblock %}

{% block introToContent%}

In his book, Robert T. Kiyosaki tells you his unique economic perspective. He doesn’t tell you, however, exactly set-by-step what you should invest on. He tells you his story about how he developed his perspective based on the advices from his two fathers – a highly educated father, fiscally poor, and his father’s best friend, a eighth-grade dropout and self-made millionaire.

{% endblock %}

{% block midBookImage %}
<img class="bookImage" style="width: 25%; height: 25%;" src="{{url_for('static', filename=bookImage)}}">
{%endblock%}

{% block questionContent%}

Now you’re probably thinking… “well, this all looks awesome…but there’s no way I’m going to get rich…”. What this book told me is that everyone has its own financial problems, no matter how much money they have. For some is the problem of paying all the bills, for others is the fact that everyone is trying to get money from them. Why not focusing on solving your current financial problems? After that, you’ll manage to get extra money, and then you’ll have to deal with other kind of problems.

{% endblock %}

{% block secondQuote%}

“Winners are not afraid of losing. But losers are. Failure is part of the process of success. People who avoid failure also avoid success.”

{% endblock %}

{% block closeBook%}

The book talks about ways of developing your financial IQ and ways of becoming wealthier by being able to deal with the problems you encounter in a daily basis. This advices still stick no matter the economy, stocks or real estate.

{% endblock %}

{% block callToAction%}

If you are looking for ways to solve your financial problems, this book is for you. No matter how much money you have in your bank account, I’m sure you’ll find some good tips that will certainly apply to you.

{% endblock %}

{% block aboutAuthor %}

Author and motivational conference man, Robert is known worldwide as a defensor of financial education. He is the founder of “Rich Dad Company”, one of the creators of the “CASHFLOW” educational game and is the author of several bestsellers.

{% endblock %}

{% block getBook %}

As you can see in the photo, my version of the book is a Portuguese translated version. Worldwide, you can get this book from normal online bookstores.

{% endblock %}

