{% extends "BookBase.html" %}

{% block ArticleHeader %}

<h1>{{BookName}}</h1>

{% endblock %}


{% block topBookImage %}
	{% if bookImage %}
		<img class="bookImage" src="{{url_for('static', filename=bookImage)}}">
	{% else %}
		<p>No image from the book found. Please be awesome and notify me through instagram <a href="https://www.instagram.com/bernardogooomes/">(instagram link)</a></p>
	{% endif %}
{%endblock%}

{% block bookintro%}

{{bookIntro}}

{% endblock %}

{% block firstQuote%}

{{FirstQuote}}

{% endblock %}

{% block questionsAskedToReader%}

{{QuestionsAskedToTheReader}}

{% endblock %}

{% block introToContent%}

{{introToContent}}

{% endblock %}

{% block midBookImage %}
<img class="bookImage" src="{{url_for('static', filename=bookImage)}}">
{%endblock%}

{% block questionContent%}

{{questionContent}}

{% endblock %}

{% block secondQuote%}

{{SecondQuote}}

{% endblock %}

{% block closeBook%}

{{CloseBook}}

{% endblock %}

{% block callToAction%}

{{CallToAction}}

{% endblock %}

{% block aboutAuthor %}

{{AuthorDescription}}

{% endblock %}

{% block getBook %}

{{whereToBuy}}

{% endblock %}

